.background{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100vw;*/
    height: 120vh;
    width: 100%;
    //background: linear-gradient(210deg, #1D214E, #3a9cdd, #04D7A2)
    background: conic-gradient(from 45deg at 50% 50%, #2e1771, #3e19cb, rgba(101,75,245,1))
}
main{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

@media  (max-width: 1667px) {
    .background{
        height: 170vh;
    }
    @media (max-width: 1020px) {
        .background{
            height: 180vh;
        }
        @media (max-width:840px) {
            .background{
                height: 190vh;
            }
        }
    }
}