.banner{
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .image{
        img{
            height: 60vh;
            width: 50vw;
            object-fit: fill;
            border-radius: 20px;
        }
        .swiper{
            width: 50vw;
            height: 54vh;
            .swiper-button-prev,.swiper-button-next{
                color: white;
            }
        }
    }
    .text{
        width: 84vw;
        font-family: 'Bakbak One', cursive;
        .title{
            font-family: 'Montserrat', sans-serif;            
            margin: 0;
            margin-top: -0.6em;
            color: #FF9933;
            //text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
            //transform: rotate(-7deg);
            font-size: 4rem;
            font-weight: 800;
        }
        .info{
            //color:rgb(42, 42, 42);
            color: white;
            font-size: 2rem;
            margin-top: 1rem;
            .definition{
                font-size: 25px;
                width: 100%;
                font-weight: 500;
                margin: 0;
                border: none;
                font-family: inherit;
            }
            span{
                font-size: 25px;
                color: #fff;
                margin: 0;
            }
            p{
                border-top: #FF9933 2px solid;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.9rem;
                font-weight: 600;
                width: 80%;
            }
        }
    }
    .savoirePlus{
        display: flex;
        justify-content: flex-start;
        button{
            height: 6vh;
            border: none;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 25px;
            cursor: pointer;
            width: 170px;
            transition: .3s ease-in-out;
            &:hover{
                background-color: #FF9933;
                color: white;
                font-size: 25px;
            }
        }
    }
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
@media  (max-width: 1567px) {
    .text{
        width: 70% !important;
    }
    @media (max-width:820px) {
        .swiper{
            width: 53vh !important;
        }
        .image{
            img{
                height: 40vh !important;
            }
        }
        @media (max-width:550px){
            .swiper{
                width: 40vh !important;
            }
            .image{
                img{
                    height: 30vh !important;
                }
            }
            .title{
                font-size: 3rem !important;
            }
                .banner{
                    .text{
                        width: 100% !important;
                    }
                }
        }
        @media (max-width:400px){
            .info{
                p{
                    font-size: 1.5rem !important;
                }
            }
        }
    }
}